@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model project.Models.salary
@{
    Layout = null;
}


<form method="post" class="col-sm-12">
    <input type="hidden" asp-for="salaryid" id="add11" />
    <div class="form-group d-flex flex-column mb-3">
        <label for="reasonScheduleEdit" class="fw-bold">Username</label>
        <input disabled class="ht bdr2" asp-for="username" id="t1"/>
    </div>
    <div class="row mb-3">
        <div class="col-sm-6">
            <div class="form-group d-flex flex-column">
                <label for="editDateModal" class="control-label fw-bold">Basic Salary</label>
                <input  class="ht bdr2" asp-for="basic" id="t2">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group d-flex flex-column">
                <label for="editDateModal" class="control-label fw-bold">Tax amount</label>
                <input  class="ht bdr2" asp-for="tax" id="t3">
            </div>
        </div>
    </div>
    <div class="form-group d-flex flex-column mb-3">
        <label for="reasonScheduleEdit" class="fw-bold">Increment</label>
        <input class="ht bdr2" asp-for="increment" id="t4"/>
    </div>

    <button type="button" id="t5" class="btn updateBtn w-100 verify">Save</button>
</form>

