@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<h1>ResetPasswordConfirmation</h1>
<p>
    Your password has been reset. Please <a asp-controller="Starting" asp-action="Index">Click here to Login</a>.
</p>