@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

@*<h2 class="text-danger d-flex justify-content-center" style="color: red">Link will be sent</h2>*@
<h3 class="text-danger d-flex justify-content-center" style="color: darksalmon">No such user found.</h3>
